<mat-card>
  <mat-card-title style="display: flex;">
    <img class="player-image" style="margin-right: 10px" [src]="_player.image" />{{ name(_player) }}
  </mat-card-title>
  <mat-card-subtitle rtl>
    <mat-chip-list *ngIf="_player.tags" aria-label="tags">
      <mat-chip *ngFor="let tag of _player.tags">{{ tag }}</mat-chip>
    </mat-chip-list>
    <mat-chip-list *ngIf="_player.swiss || _player.sesfMember" aria-label="tags">
      <mat-chip *ngIf="_player.swiss" style="background-color: #d52b1e; color: white">Swiss Citizen</mat-chip>
      <mat-chip *ngIf="_player.sesfMember" style="background-color: #d52b1e; color: white">SESF Member</mat-chip>
    </mat-chip-list>
    <div *ngIf="_player.team" class="team">
      <img [src]="_player.team.logo" class="team-logo" />
      <span>{{_player.team.name}}</span>
    </div>

  </mat-card-subtitle>
  <mat-card-content [@.disabled]="disableAnimation">
    <mat-accordion>
      <mat-expansion-panel [expanded]="false" *ngIf="_player.timeline">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Career Timeline
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list">
          <mat-list-item *ngFor="let entry of _player.timeline" role="listitem">
            <div matLine>
              <span style="font-weight: bold">{{
                entry.start | date: "y/MM"
              }}</span> - <span style="font-weight: bold">{{
                entry.end | date: "y/MM"
              }}</span>
            </div>
            <p matLine>{{ entry.content }}</p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false" *ngIf="_player.achievements">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Achievements
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <span>Lagily has won {{_achievements.numberOfWins}} tournaments.</span>
        <div class="achievements-list" style="padding-top: 5px;">
          <ng-container *ngFor="let achievement of _achievements.aggregatedAchievements">
            <span *ngIf="achievement.bronze.length + achievement.silver.length + achievement.gold.length > 0">
              
              <fa-icon *ngFor="let trophy of achievement.gold" icon="trophy" class="trophy gold-trophy" title="First place"></fa-icon> 
              <fa-icon *ngFor="let trophy of achievement.silver" icon="trophy" class="trophy silver-trophy" title="Second place"></fa-icon> 
              <fa-icon *ngFor="let trophy of achievement.bronze" icon="trophy" class="trophy bronze-trophy" title="Third place"></fa-icon> 
              <span [ngbTooltip]="editionsTooltip">{{achievement.tournamentName}}</span></span>

              <ng-template #editionsTooltip><ul style="padding: 2px"><li *ngFor="let edition of achievement.editions">{{edition}}</li></ul></ng-template>
        </ng-container>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <a *ngIf="_player.twitter" mat-icon-button [href]="_player.twitter" target="_blank">
      <mat-icon matTooltip="Twitter">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </mat-icon>
    </a>
    <a *ngIf="_player.instagram" mat-icon-button [href]="_player.instagram" target="_blank">
      <mat-icon matTooltip="Instagram">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </mat-icon>
    </a>

    <a *ngIf="_player.gamepedia" mat-icon-button [href]="_player.gamepedia" target="_blank">
      <mat-icon matTooltip="Gamepedia">
        <fa-icon icon="info"></fa-icon>
      </mat-icon>
    </a>

    <button mat-button>Contact</button>
  </mat-card-actions>
</mat-card>
