@import "../../../../styles-variables";

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    .player-image {
      height: 40px;
      border-radius: 50%;
    }
  }

  mat-card-subtitle {
    min-height: 60px;

    .team {
      margin-top: 11px;
      padding: 4px;

      .team-logo {
        max-height: 40px;
      }

      span {
        font-weight: bolder;
        color: black;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }

  mat-card-actions {
    button {
      float: right;
    }
  }
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    font-weight: bold;
  }

  /*span:not(:last-child)::after {
    content: ",";
  }*/
}

.trophy:not(:last-child) {
  padding-right: 2px;
}

.gold-trophy {
  color: goldenrod;
}

.silver-trophy {
  color: silver;
}

.bronze-trophy {
  color: brown;
}
