$pldb-black-primary: mat-palette($mat-grey, 700, 300, 900);
$pldb-black-accent: mat-palette($mat-blue-grey, 400);
$pldb-black-warn: mat-palette($mat-red, 500);

$pldb-black-theme: mat-dark-theme($pldb-black-primary, $pldb-black-accent, $pldb-black-warn);
